<section class="gallery">
    <div class="container">
        <div class="row">
            <div class="line_top"></div>
            <h2 class="gallery__title">
                Gallery
            </h2>
            <div class="col-12 d-flex">
                <img src="./img/2acfa0d214.jpg" alt="img">
                <img src="./img/104108cf73.jpg" alt="img">
                <img src="./img/682c6dd203.jpg" alt="img">
                <img src="./img/6cc54f52c1.jpg" alt="img">
            </div>
        </div>
    </div>
</section>