<section id="gallery" class="gallery">
    <div class="container">
        <div class="row">
            <div class="line_top"></div>
            <h2 class="gallery__title">
                Gallery
            </h2>
            <div class="template">
                <div class="your-class">
                    <div>
                        <div class="img-slider">
                            <img src="../img/gal-1.webp" alt="img">
                        </div>
                    </div>
                    <div>
                        <div class="img-slider">
                            <img src="../img/gal-2.webp" alt="img">
                        </div>
                    </div>
                    <div>
                        <div class="img-slider">
                            <img src="../img/gal-3.webp" alt="img">
                        </div>
                    </div>
                    <div>
                        <div class="img-slider">
                            <img src="../img/gal-4.webp" alt="img">
                        </div>
                    </div>
                    <div>
                        <div class="img-slider">
                            <img src="../img/gal-5.webp" alt="img">
                        </div>
                    </div>
                </div>
               
            </div>
        </div>
    </div>
</section>