<main class="main">
    <div class="container">
        <div class="row">
            <div class="col-12 d-flex align-items-center">
                <div class="col-6">
                    <div class="main__title">
                        <h1>Let's hit the road</h1>
                    </div>
                    <div class="main__description text">
                        <p class="text_big">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. A condimentum vitae sapien pellentesque habitant. Bibendum est ultricies integer quis auctor elit. Fames ac turpis egestas integer.</p>
                        <p class="text_small">Ut blandit cursus risus at ultrices mi tempus imperdiet nulla malesuada pellentesque elit eget gravida cum sociis natoque penatibus.</p>
                    </div>
                    <div class="main__btn">
                        <a href="#">Start</a>
                    </div>
                </div>
                <div class="col-6 d-flex justify-content-end">
                    <div class="main__img">
                        <img src="../img/04cdff6e51.jpg" alt="img">
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>