<section class="story">
    <div class="container">
        <div class="row">
            <div class="col-12 d-flex align-items-center">
                <div class="col-4">
                    <div class="story__img">
                        <img src="../img/fife.jpg" alt="img">
                    </div>
                </div>
                <div class="col-8">
                    <h2 class="story__title">
                        Story
                    </h2>
                    <p class="story__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                        tempor incididunt ut labore et dolore magna aliqua. Cras sed felis eget velit aliquet. Ullamcorper
                        velit sed ullamcorper morbi tincidunt ornare massa eget. Consequat nisl vel pretium lectus. Nulla
                        facilisi etiam dignissim diam. Hat habitasse platea dictumst vestibulum rhoncus est pellentesque.
                    </p>
                    <div class="story__btn">
                        <a href="#">More</a>
                    </div>
                </div>
            </div>
            <div class="line_top"></div>
            <div class="col-12 d-flex align-items-center">
                <div class="col-8">
                    <h2 class="story__title">
                        Story
                    </h2>
                    <p class="story__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                        tempor incididunt ut labore et dolore magna aliqua. Cras sed felis eget velit aliquet. Ullamcorper
                        velit sed ullamcorper morbi tincidunt ornare massa eget. Consequat nisl vel pretium lectus. Nulla
                        facilisi etiam dignissim diam. Hat habitasse platea dictumst vestibulum rhoncus est pellentesque.
                    </p>
                    <div class="story__btn">
                        <a href="#">More</a>
                    </div>
                </div>
                <div class="col-4 d-flex justify-content-end">
                    <div class="story__img">
                        <img src="./img/lamp.jpg" alt="img">
                    </div>
                </div>
            </div>
            <div class="line"></div>
        </div>
    </div>
</section>