.story{
    font-family: Garamond;
    &__title{
        
        font-size: 34px;
        margin-bottom: 30px;
    }

    &__description{
        font-size: 18px;
        margin-bottom: 30px;
    }

    &__btn{
        a{
            text-transform: uppercase;
            padding: 6px 12px;
            border: 1px solid #DEDEDE;
            border-radius: 5px;
            color: #B0B0B0;
        }
    }

    &__img{
        img{
            width: 100%;
            height: 100%;
            @media screen and (max-width: 768px) {
                padding: 30px 0;
            }
        }
    }


    .line_top{
        border-top: 1px solid grey;
        max-width: 98%;
        margin: 0 auto;
        @media screen and (max-width: 1200px){
            max-width: 97%;
        }
        @media screen and (max-width: 768px){
            display: none;
        }
    }
}